<html>
	<head>
		<style type="text/css">
			body{
					font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
				}

		  	ul {
			    list-style-type: none;
			    margin: 0;
			    padding: 0;
			    overflow: hidden;
			    background-color: white;
			  }

			.textWithin{
			    font-weight: 300;
			    font-size: 35px;
			    color: #92c755;
			  }


			  .textSec{
			  	text-align: center;
			  	margin-top: 40px;
			  }

			   	.content{
				    margin-left: 15%;
				    margin-right: 15%;
				    font-size: 20px;
				    margin-top: 30px;
				  }

				 .logoImage{
				 	width: 140px;
				 	margin-top: 50px;
				 }

		@media screen and (max-width: 768px){
				.logoImage{
				 	width: 120px;
				 	margin-top: 50px;
				 }
				.textWithin{
				    font-weight: 300;
				    font-size: 25px;
				    color: #92c755;
				    padding: 14px 16px;
				    position: relative;
	    			bottom: 37px;
			  	}

			  	.content{
				    margin-left: 5%;
				    margin-right: 5%;
				    font-size: 20px;
				    margin-top: 30px;
				  }
		}
  		</style>
	</head>
	<body>
		<ul>
    		<div class="textSec"> 
    			<span class="textWithin">Planet's Meal </span>
    		</div>
  		</ul>
  		<div class="content">
  				Hi <%= @user.name %>,<br><br>

				<p>To reset your password click the link below:</p>

				<%= edit_password_reset_url(@user.reset_digest) %>
				<br>
				<br>



				Warm Regards,<br>
				Planet’s Meal Team
				<br>
				<br>


				

  		</div>
	</body>
</html>

















