/*// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
/*// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */
/* line 12, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
a {
  text-decoration: none !important;
}

/* line 17, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.note {
  display: none;
}

/* line 21, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.alert-custom {
  background-color: #92c755;
  color: #fff;
}

/* line 27, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.productImage {
  width: 200px;
  border-right: 1px solid #d2d2d2;
  border-radius: 3px;
}

/* line 34, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.imageSide {
  float: left;
}

/* line 39, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.prodBox {
  border: 1px solid #d2d2d2;
  height: 201px;
  border-radius: 3px;
  margin-top: 30px;
}

/* line 47, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.buttonDiv {
  margin-top: 33px;
}

/* line 53, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.productTitle {
  font-size: 20px;
}

/* line 57, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.productPrice {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 210px;
}

/* line 64, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.productTitleDiv {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 210px;
}

/* line 70, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.productDesc {
  font-size: 14px;
  margin-left: 210px;
}

/* line 75, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.innerClassEl {
  margin-left: 10px;
}

/* line 80, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.checkoutSec {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* line 85, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.totPrice {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 92, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.checkout {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 20px 60px;
  width: 100%;
  border-radius: 3px;
}

/* line 101, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.checkout:hover {
  background-color: #4CAF50;
  color: white;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 0.5s;
}

@-webkit-keyframes example {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: #4CAF50;
    color: white;
  }
}
/* Standard syntax */
@keyframes example {
  from {
    background-color: white;
    color: black;
  }
  to {
    background-color: #4CAF50;
    color: white;
  }
}
/* line 123, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.removeButton {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  top: 178px;
  left: 576px;
  position: absolute;
  border-radius: 0px 0px 2px 0px;
  outline: none;
}

/* line 140, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.checkSec {
  border-right: 1px solid #bdbdbd;
  padding-bottom: 20px;
  overflow: scroll;
  height: 500px;
}

/* line 148, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.noProds {
  margin-top: 40px;
  font-size: 25px;
  text-align: center;
}

/* line 157, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.productTitle {
  font-size: 25px;
}

/* line 161, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.productPrice {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 210px;
}

/* line 168, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.productTitleDiv {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 210px;
}

/* line 174, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
.productDesc {
  font-size: 15px;
  margin-left: 210px;
}

@media screen and (max-width: 768px) {
  /* line 183, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .note {
    display: block;
  }

  /* line 186, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .smallNote {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
  }

  /* line 191, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .removeButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 40px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 4%;
    left: 103%;
    position: absolute;
    border-radius: 0px 0px 2px 0px;
    outline: none;
  }

  /* line 206, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .itemsWithin {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  /* line 210, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .bottomSec {
    margin-top: 80px;
    margin-bottom: 50px;
  }

  /* line 215, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .checkSec {
    border-right: 0px;
    padding-bottom: 0px;
    height: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  /* line 223, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .productPrice {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 115px;
  }

  /* line 228, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .productTitleDiv {
    margin-top: 5px;
    margin-left: 115px;
    margin-bottom: 5px;
    font-size: 18px;
  }

  /* line 234, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .productTitle {
    font-size: 18px;
  }

  /* line 237, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .productImage {
    width: 109px;
    border-right: 1px solid #868686;
    border-radius: 2px 0px 0px 2px;
  }

  /* line 242, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/carts.scss */
  .prodBox {
    border: 1px solid #868686;
    height: 110px;
    border-radius: 3px;
    margin: 0px;
    margin-top: 20px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    margin-bottom: 20px;
  }
}
