/*// Place all the styles related to the PasswordResets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
/* line 7, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/password_resets.scss */
.alert-custom {
  background-color: #92c755;
  color: #fff;
}

/* line 13, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/password_resets.scss */
.heda {
  margin-top: 40px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  color: #92c755;
}

/* line 23, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/password_resets.scss */
.inp {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 28, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/password_resets.scss */
.subheda {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

/* line 36, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/password_resets.scss */
.fieldEmail {
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}

/* line 44, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/password_resets.scss */
.logg {
  margin-top: 30px;
}

/* line 49, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/password_resets.scss */
.resetBew {
  width: 100%;
  background-color: #92c755;
  height: 50px;
}

/* line 56, /Users/macbookpro/Desktop/ecoMeal/app/assets/stylesheets/password_resets.scss */
.resetBew:hover {
  width: 100%;
  background-color: #92c755;
  height: 50px;
}
