<%= stylesheet_link_tag "orders", :media => "all" %>
<div class="container">
	<div class="mainTitle">Order overview</div>
<hr>



<div class="col-md-12 col-xs-12 sec1">
	<%= render 'form', order: @order %>
</div>

</div>