<%= stylesheet_link_tag "products", :media => "all" %>

<div class="text-center">
	<div class="topTitle">Editing Product</div>
</div>

<hr>
<div class="formProd">
<%= render 'form', product: @product %>
</div>